$darkColor: #003c4f;
$darkLightColor: #035d71;
$mainColor: #007d81;
$lightColor: #41b4b7;
$whiteColor: #eff1f2;
$darkWhite: #dee4e4;
$blackColor: #162125;
$darkGrey: #253034;
$lightGrey: #cccccc;
$grey: #9b9b9b;

$fontS: 0.5rem;
$fontM: 0.75rem;
$fontL: 1rem;
$fontXL: 1.25rem;
$fontXXL: 1.5rem;
$fontXXXL: 1.75rem;


$weightMain:500;
$weightHard:600;
$weightLight:400;
$weightUltraLight:300;